body {
    max-width: 1440px;
    margin: 0 auto;
    padding: 30px 22px;
    background-color: #6799BD;
}

.grid {
    display: grid;
    min-height: 538px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    gap: 30px;
}

.block {
    padding: 20px;
    border-radius: 16px;
    background-color: #fff;
}

.block-1 {
    grid-column: 1 / 4;
    grid-row: 1 / 9;
}

.block-2 {
    grid-column: 4 / 6;
    grid-row: 1 / 6;
    opacity: 0.5;
}

.block-3 {
    grid-column: 6 / 8;
    grid-row: 1 / 4;
}

.block-4 {
    grid-column: 8 / 11;
    grid-row: 1 / 4;
}

.block-5 {
    grid-column: 11 / 13;
    grid-row: 1 / 12;
    opacity: 0.5;
}

.block-6 {
    grid-column: 4 / 6;
    grid-row: 6 / 9;
}

.block-7 {
    grid-column: 6 / 9;
    grid-row: 4 / 9;
}

.block-8 {
    grid-column: 9 / 11;
    grid-row: 4 / 12;
    opacity: 0.5;
}

.block-9 {
    grid-column: 1 / 5;
    grid-row: 9 / 12;
}

.block-10 {
    grid-column: 5 / 9;
    grid-row: 9 / 12;
}


@media (max-width: 1200px) {
    .grid {
        min-height: 946px;
    }

    .block-1 {
        grid-column: 1 / 7;
        grid-row: 1 / 8;
    }
    
    .block-2 {
        grid-column: 7 / 10;
        grid-row: 1 / 4;
    }
    
    .block-3 {
        grid-column: 7 / 10;
        grid-row: 4 / 6;
    }
    
    .block-4 {
        grid-column: 7 / 10;
        grid-row: 6 / 8;
    }
    
    .block-5 {
        grid-column: 10 / 13;
        grid-row: 1 / 15;
    }
    
    .block-6 {
        grid-column: 1 / 4;
        grid-row: 8 / 10;
    }
    
    .block-7 {
        grid-column: 4 / 10;
        grid-row: 8 / 10;
    }
    
    .block-8 {
        grid-column: 7/ 10;
        grid-row: 10 / 15;
    }
    
    .block-9 {
        grid-column: 1 / 7;
        grid-row: 10 / 12;
    }
    
    .block-10 {
        grid-column: 1 / 7;
        grid-row: 12 / 15;
    }
}

@media (max-width: 1024px) { 
    .grid {
        min-height: 2084px;
        grid-template-columns: 100%;
        grid-template-rows: repeat(17, 1fr);
    }

    .block {
        grid-column: 1;
    }

    .block-1 {
        grid-row: 1 / 4;
    }
    
    .block-2 {
        grid-row: 4 / 6;
    }
    
    .block-3 {
        grid-row: 6 / 7;
    }
    
    .block-4 {
        grid-row: 7 / 8;
    }
    
    .block-5 {
        grid-row: 8 / 12;
    }
    
    .block-6 {
        grid-row: 12 / 13;
    }
    
    .block-7 {
        grid-row: 13 / 14;
    }
    
    .block-8 {
        grid-row: 14 / 16;
    }
    
    .block-9 {
        grid-row: 16 / 17;
    }
    
    .block-10 {
        grid-row: 17 / 18;
    }
}